* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    background: darkgray;
    overflow: hidden;
    text-align: center;
}

#myCanvas {
    background: lightgray;
}